.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

$green-sea: #16a085;
$turquoise: #1abc9c;

.btn-primary, .panel-primary>.panel-heading {
  background-color: $turquoise;
  border-color: $turquoise;
}

.panel-primary {
  border-color: $turquoise;
}

a {
  color: $turquoise;
}

 a:hover {
  color: darken($turquoise, 10%);
}

.btn-primary:hover,.btn-primary:active, .btn-primary:focus {
  background-color: darken($turquoise, 10%);
  border-color: darken($turquoise, 10%);
}
